<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925263839084-ogks92j268i0p4culssfefvg8bpbo7tf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925263839084-ogks92j268i0p4culssfefvg8bpbo7tf</string>
	<key>API_KEY</key>
	<string>AIzaSyAibNFp-uxViE2nZvD4yPMBHGTGn3vHeQY</string>
	<key>GCM_SENDER_ID</key>
	<string>925263839084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arrinal.Nomad-Journey</string>
	<key>PROJECT_ID</key>
	<string>nomad-journey</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-journey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925263839084:ios:ae87973077f40eccedfd49</string>
</dict>
</plist>